* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

:root {
    --primary-text-color: #f4f4f4;
    --secondary-color: #ff6f61;
    --background-color: #000;
    --text-color: #333;

    /* padding variables */
    --nav-padding: 30px 30px;
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;

    /* border radius variables */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;

}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    height: 60px;
    width: 100%;
    padding: var(--nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
}

nav button {
    background-color: var(--primary-text-color);
    color: var(--background-color);
    padding: var(--padding-m) var(--padding-l);
    border: none;
    outline: none;
    border-radius: var(--border-radius-m);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;  
}

/* board styling */
section {
    padding: var(--section-padding);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: var(--padding-xxl);
}

section .taskCol {
    flex-grow: 1;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-m);
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

}

section .taskCol.hoverOver {
    border: 3px dashed var(--primary-text-color); 
    scale: 1.03;
}

.taskCol .heading{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: var(--padding-m);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task {
    background-color: var(--background-color);
    padding: var(--padding-l) var(--padding-m);
    border-radius: var(--border-radius-m);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--padding-l);
    cursor: grab;
}
.task h2{
    font-size: 1.4rem;
    margin-bottom: var(--padding-s);
    font-style: bold;
    font-weight: 600;
}
.task button {
    align-self: flex-end;
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-s);
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: 500;
}

/* modal styling */
.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.modal.active {
    display: flex;
}

.modal .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.404);
    backdrop-filter: blur(5px);
}
.back {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: var(--primary-text-color);
    cursor: pointer;
    z-index: 10;
}
.center {
    background-color: var(--secondary-color);
    padding: 2rem 3rem;
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    z-index: 10;
}

.center input, .center textarea {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: var(--border-radius-s);
    font-size: 1rem;
}

.center button {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: var(--border-radius-m);
    cursor: pointer;
    font-size: 1rem;
    width: fit-content;
    align-self: center;
}